.auth {
  display: flex;
  align-items: center;
  padding: 24px;
}

.avatar {
  width: 40px;
  height: 40px;
  margin-right: 8px;
  border-radius: 50%;
}

.name {
  font-size: 20px;
}

.button {
  margin-bottom: 8px;
}

.buttons {
  display: flex;
  margin-top: 8px;
}

#suggest {
  margin-right: 8px;
}

.buttonsContainer {
  margin-top: 8px;
}
